<div>
    <app-search-registration-controls (registrationSelected)="registration = $event" />
</div>
<div>
    <!-- Selected Regsitration Information -->
    <div>
        <h3>Over de registratie:</h3>
        <div *ngIf="registration !== null else registrationSkeleton">
            <p><a [href]="registration.url">{{registration.name}}</a></p>
            <p>{{registration.description}}</p>
        </div>
        <ng-template #registrationSkeleton>
            <p>Geen registratie geselecteerd</p>
        </ng-template>
    </div>
</div>
<div>
    <app-start-registration-form [registration]="registration"></app-start-registration-form>
</div>