<div class="flex flex-row gap-2">
  <app-search-patient-controls class="basis-3/12" 
    (onMdnChange)="mdnFilter = $event"
    (onFirstNameChange)="firstNameFilter = $event"
    (onLastNameChange)="lastNameFilter = $event"
    (onDateOfBirthChange)="dateOfBirthFilter = $event"
    ></app-search-patient-controls>
    <app-patient-info-container class="basis-6/12" [patientsInfo]="filteredPatientsInfo" (onPatientSelect)="onPatientSelect($event)"></app-patient-info-container>
  <app-start-registration-form class="basis-3/12"></app-start-registration-form>
</div>