<div class="flex flex-col gap-2">
    <!-- Search controls -->
    <div class="labeled-input-primary">
        <label for="search-registration-name">Naam:</label>
        <input id="search-registration-name" type="text" placeholder="..." (input)="onSearchTextInput($event)" />
    </div>
    <!-- Selection controls -->
    <div class="border-2 border-black p-2 rounded-lg flex flex-col gap-2">
        <button *ngFor="let registrationName of supportedRegistrationNames" (click)="onRegistrationSelect(registrationName)"
            [hidden]="registrationSearchText !== '' && !registrationName.startsWith(registrationSearchText)" class="btn-secondary">
            {{registrationName}}
        </button>
    </div>
    <button (click)="onConfirmRegistrationSelection()" class="btn-primary">Bevestig Selectie</button>
</div>